[submodule "sc_tools/icsc"]
	path = sc_tools/icsc
	url = git@github.com:chisuhua/systemc-compiler.git
[submodule "external/TaskRunner"]
	path = external/TaskRunner
	url = git@github.com:chisuhua/TaskRunner.git
[submodule "external/nose"]
	path = external/nose
	url = git@github.com:chisuhua/nose.git
[submodule "sc_libs/DRAMSys"]
	path = sc_libs/DRAMSys
	url = git@github.com:chisuhua/DRAMSys.git
[submodule "sc_libs/noxim"]
	path = sc_libs/noxim
	url = git@github.com:chisuhua/noxim.git
[submodule "sc_libs/scc"]
	path = sc_libs/scc
	url = git@github.com:chisuhua/SystemC-Components.git
